doctype html
html(ng-app='zombie-pets', lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Zombie-Pets
    link(href='/vendor/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
    link(href='/vendor/fontawesome/css/font-awesome.css', rel='stylesheet')
    link(href='/index.css', rel='stylesheet')
  body(ng-controller='MainController')
    .container
      .row
        .col-xs-12
          h1 {{title}}
      .row
        #cage(ng-show='player1 && player2')
          .col-xs-5
            .pet
              .image(style='background-image:url("{{player1.photo}}")')
              .text
                h6 Name {{player1.name}}
                h6 Health {{player1.health}}
                h6 Weapon {{player1.weapon.name}}
                h6 Damage {{player1.weapon.damage}}
          .col-xs-2
            button.btn.btn-danger#fight(name='fight', ng-click='fight()') fight
          .col-xs-5
            .pet
              .image(style='background-image:url("{{player2.photo}}")')
              .text
                h6 Name {{player2.name}}
                h6 Health {{player2.health}}
                h6 Weapon {{player2.weapon.name}}
                h6 Damage {{player2.weapon.damage}}
      .row
        .col-xs-5
          h4 Create Weapons
          button.btn.btn-success(ng-click='toggleWeapon()') Toggle Form
          form(role='form', novalidate, ng-hide='hideWeapon', name='weaponForm')
            .form-group
              label(for='name') Name
              input.form-control#name(ng-minlength= '3', ng-maxlength= '10', required, ng-model='weapon.name', type='text', name='name', autofocus=true)
            .form-group
              label(for='photo') Photo
              input.form-control#photo(ng-pattern='/^http/' , required, ng-model='weapon.photo', type='text', name='photo')
            .form-group
              label(for='damage') Damage
              input.form-control#damage(required, ng-model='weapon.damage', type='number', name='damage')
            button.btn.btn-primary(type='submit', ng-show='weaponForm.$valid', ng-click='addWeapon()') Add Weapon
        .col-xs-2
        .col-xs-5
          h4 Create Pet
          button.btn.btn-success(ng-click='togglePet()') Toggle Form
          form(role='form', novalidate, ng-hide='hidePet', name='petForm')
            .form-group
              label(for='name') Name
              input.form-control#petname(ng-minlength= '3', ng-maxlength= '10', required, ng-model='pet.name', type='text', name='petname')
            .form-group
              label(for='photo') Photo
              input.form-control#petphoto(ng-pattern='/^http/' , required, ng-model='pet.photo', type='text', name='petphoto')
            .form-group
              label Health
              input.form-control(type='number',readonly, ng-model='pet.health')
            .form-group
              label(for='weapon')
              select(name='weapon', ng-model='pet.weapon')
                option(ng-repeat='w in weapons', value='{{$index}}') {{w.name}}
            button.btn.btn-primary(type='submit', ng-show='petForm.$valid', ng-click='addPet()') Add Pet
      .row
        .col-xs-12
          .weapon(ng-repeat='w in weapons', style='background-image:url("{{w.photo}}")')
            .name {{w.name}}
            .damage {{w.damage}}
      .row
        .col-xs-12
          .pet(ng-repeat='p in pets', style='background-image:url("{{p.photo}}")')
            .name {{p.name}}
            .health {{p.health}}
            .pweapon {{p.weapon.name}}
            button.btn.bt-danger(ng-click='setPlayer(1)') 1
            button.btn.bt-danger(ng-click='setPlayer(2)') 2
      .row
        .col-xs-12
          pre {{weapon | json}}
          pre {{weapons | json}}
          pre {{pet | json}}
          pre {{pets | json}}
          pre {{player1 | json}}
          pre {{player2 | json}}
          pre {{fighter1 | json}}
          pre {{fighter2 | json}}

    script(src='/vendor/angular/angular.js')
    script(src='/vendor/jquery/dist/jquery.js')
    script(src='/vendor/bootstrap/dist/js/bootstrap.js')
    script(src='/index.js')

